.large { font-size: 120%; }
.small { font-size: 80%; }
.smaller { font-size: 60%; }
.bold { font-weight: bold; }

.small .remark-code { font-size: 16px; }
.smaller .remark-code { font-size: 14px; }
.tiny .remark-code {
  font-size: 12px;
  line-height: 17px;
}
